@{
    ViewData["Title"] = "Login";
    <div class="text-center">
        <h1 class="display-4">Login</h1>
        <form method="post">
            <label>Email</label>
            <input type="text" name="user_name" />
            <label>Password</label>
            <input type="password" name="password" />
            <button>Login</button>
        </form>
    </div>
}
