@{
    ViewData["Title"] = "Profile";
}

<div class="text-center">
    <h1 class="display-4">Profile</h1>
    <h2>User Name:</h2>
    <p>@Model.User_Name</p>
    <h2>Password:</h2>
    <p>@Model.pw</p>
    <h2>List of your Books:</h2>
    <table class="steelBlueCols" id="table" style="width:100%">
        <theader>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Language</th>
                <th></th>
                <th></th>
            </tr>
        </theader>
        <tbody id="ProfileBookTable">
        </tbody>
    </table>
</div>
@section Scripts{
    <script src="~/js/profile.js" asp-append-version="true"></script>
}
